.profile-calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  margin: 0 0 8px;
}

.calendar-section {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  /* height: 100%; */
}

.calendar-wrapper {
  min-height: 400px;
}

.staff-calendar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;

  .event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    overflow: hidden;
    user-select: none;
    position: relative;

    .event-actions {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    p {
      font-size: 12px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translateY(-1px);
    }

    svg {
      flex-shrink: 0;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .fc-col-header {
    width: 100% !important;
  }

  .fc-scroller {
    padding-right: 10px;

    .fc-daygrid-body-unbalanced {
      width: 100% !important;

      table {
        width: 100% !important;
      }
    }
  }

  .fc-scroller::-webkit-scrollbar {
    width: 6px;
  }

  .fc-scroller::-webkit-scrollbar-track {
    background: #ffffff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .fc-scroller::-webkit-scrollbar-thumb {
    background: #19979c;
    border-radius: 4px;
    border: 1px solid #ffffff;
  }

  .bg-null {
    background: none;
  }

  .event {
    padding: 4px;
    text-transform: capitalize;
    border: solid;
    position: relative;
    overflow: hidden;

    .fc-event-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }

    &.highlight::before,
    &.highlight::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 12px;
      background-color: rgb(56, 56, 56);
      transform: rotate(45deg);
    }

    &.highlight::before {
      left: -9px;
      bottom: -9px;
    }

    &.highlight::after {
      right: -9px;
      top: -9px;
    }

    &.invalid-date {
      position: relative;
      border: 1px dashed #888888 !important;
      opacity: 0.7;
      filter: grayscale(30%);
    }
  }

  .bg-one {
    background: #fcc729;
    border: 1px solid #ffffff;
  }

  .bg-two {
    background: #ff8847;
    border: 1px solid #ffffff;
  }

  .bg-three {
    background: #c0c033;
    border: 1px solid #ffffff;
  }

  .bg-four {
    background: #32a852;
    border: 1px solid #ffffff;
  }

  .bg-five {
    background: #32a8a2;
    border: 1px solid #ffffff;
  }

  .bg-six {
    background: #327ba8;
    border: 1px solid #ffffff;
  }

  .bg-seven {
    background: #3244a8;
    border: 1px solid #ffffff;
  }

  .bg-eight {
    background: #5a32a8;
    border: 1px solid #ffffff;
  }

  .bg-nine {
    background: #a832a4;
    border: 1px solid #ffffff;
  }

  .bg-ten {
    background: #fffe88;
    border: 1px solid #000000;

    .fc-event-main {
      color: #000000 !important;
    }
  }

  .bg-eleven {
    background: #c2068a;
    border: 1px solid #ffffff;
  }

  .bg-twelve {
    background: #c28d06;
    border: 1px solid #ffffff;
  }

  .bg-thirteen {
    background: #a2c206;
    border: 1px solid #ffffff;
  }

  .bg-fourteen {
    background: #3bc206;
    border: 1px solid #ffffff;
  }

  .bg-fifteen {
    background: #108f7c;
    border: 1px solid #ffffff;
  }

  .bg-sixteen {
    background: #10278f;
    border: 1px solid #ffffff;
  }

  .bg-seventeen {
    background: #51108f;
    border: 1px solid #ffffff;
  }

  .bg-eighteen {
    background: #118f22;
    border: 1px solid #ffffff;
  }

  .bg-nineteen {
    background: #620878;
    border: 1px solid #ffffff;
  }

  .bg-twenty {
    background: #40690a;
    border: 1px solid #ffffff;
  }

  .bg-twenty-one {
    background: #81f4cf;
    border: 1px solid #ffffff;
  }

  .bg-twenty-two {
    background: #09aa1d;
    border: 1px solid #ffffff;
  }

  .bg-twenty-three {
    background: #60d3e1;
    border: 1px solid #ffffff;
  }

  .bg-twenty-four {
    background: #8de149;
    border: 1px solid #ffffff;
  }

  .bg-twenty-five {
    background: #74db6c;
    border: 1px solid #ffffff;
  }

  .bg-twenty-six {
    background: #47216b;
    border: 1px solid #ffffff;
  }

  .bg-twenty-seven {
    background: #447804;
    border: 1px solid #ffffff;
  }

  .bg-twenty-eight {
    background: #933862;
    border: 1px solid #ffffff;
  }

  .bg-twenty-nine {
    background: #7ff932;
    border: 1px solid #ffffff;
  }

  .bg-thirty {
    background: #2a7626;
    border: 1px solid #ffffff;
  }

  .bg-thirty-one {
    background: #b6065f;
    border: 1px solid #ffffff;
  }

  .bg-thirty-two {
    background: #52e6d3;
    border: 1px solid #ffffff;
  }

  .bg-thirty-three {
    background: #c8b062;
    border: 1px solid #ffffff;
  }

  .bg-thirty-four {
    background: #a749b7;
    border: 1px solid #ffffff;
  }

  .bg-thirty-five {
    background: #c1e87c;
    border: 1px solid #ffffff;
  }

  .bg-thirty-six {
    background: #13249d;
    border: 1px solid #ffffff;
  }

  .bg-thirty-seven {
    background: #01c40b;
    border: 1px solid #ffffff;
  }

  .bg-thirty-eight {
    background: #2e6332;
    border: 1px solid #ffffff;
  }

  .bg-thirty-nine {
    background: #70ae19;
    border: 1px solid #ffffff;
  }

  .bg-forty {
    background: #b3524c;
    border: 1px solid #ffffff;
  }

  .staffs {
    width: 32%;
    margin-right: 3%;
    height: inherit;
    overflow-y: auto;
    margin-bottom: auto;
    text-transform: capitalize;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background: #19979c;
      border-radius: 4px;
      border: 1px solid #ffffff;
    }

    div {
      border-bottom: 1px solid #dddddd;
      display: flex;
      align-items: center;
      min-height: 32px;
      margin: 4px;
      padding-left: 8px;
      transition: all 0.3s;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.staff-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .staff {
    min-height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #ffffff;
    color: #19979c;
    border: 1px solid #19979c;
    border-radius: 8px;
    text-transform: capitalize;
    transition: all 0.3s;
    cursor: pointer;

    svg path {
      fill: #19979c;
      transition: all 0.3s;
    }

    &.active {
      background: #19979c;
      color: #ffffff;

      svg path {
        fill: #ffffff;
      }
    }

    p {
      color: inherit;
    }
  }
}

.highlightedPair {
  content: "";
  border-bottom: 5px solid rgba(194, 6, 138, 0.5) !important;
}
